<p><a href="/products/new">Add New Product</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand ID</th>
            <th>Category ID</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
        <tr>
            <td>
                <%= product[:id] %>
            </td>
            <td>
                <a href="/products/<%= product[:id] %>"><%= product[:name] %></a>
            </td>
            <td>
                <%= product[:brand_id] %>
            </td>
            <td>
                <%= product[:category_id] %>
            </td>
            <td>
                <%= product[:price] %>
            </td>
            <td>
              <a href="/products/<%= product[:id] %>">View</a>
            </td>
            <td>
                <a href="/products/<%= product[:id] %>/edit">Edit</a>
            </td>
            <td>
                <form action="/products/<%= product.id %>" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </td>
    </tr>
    <% end %>
</tbody>
</table>
