<h2>Product info by ID</h2>

<p>
  ID: <%= @product[:id] %>
</p>

<p>
  Name: <%= @product[:name] %>
</p>

<p>
  Brand ID: <%= @product[:brand_id] %>
</p>

<p>
  Category ID: <%= @product[:category_id] %>
</p>

<p>
  Price: <%= @product[:price] %>
</p>
